<% 
  



%>
<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset=utf-8">
    <meta name="viewport" content="width=375, initial-scale=1">
    <meta name="author" content="Mike Cronin">
    <meta name="description" content="DESCRIPTION">
    <title>TITLE</title>
  </head>
  <body>
    <div id="wrapper">
      <ul>
        <% @posts.each do |post| %>
            <li><%= post.name %></li>
            <li><%= post.content %></li>
        <% end %>
      </ul>

    </div>
  </body>
</html>
