<form action="/posts" method="post">
    <p>Name: <input type="text" name="name"></p>
    <p>Content: <textarea type="text" name="content"></textarea></p>
    <input type="submit" id="submit">
</form>
